.card-largura{
    max-width: 18rem;
}

.imagem-caroussel{
    object-fit:cover;
    object-position:0 0%;
    height: 390px;
    
}

.fonte-titulo{
    font-family:'Pacifico', cursive;
}

.cor-especial{
    color: darkred!important;
}
.borda-cor-especial{
    border-color: blue;
}

.card-posicao-imagem{
    object-fit: cover;
    height: 200px;

}

.cor-valor{
    color: black;
    ;
}

p.tuncar-3l{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
